.top-bar {
    width: 100%;
    height: 8vh;
    padding: 0 15px;
    display : flex;
    justify-content : space-between;
    background-color: rgb(39, 39, 39);
    color: white;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,1);
    z-index: 2;
}

.top-bar p, .top-bar a {
    display: flex;
    align-items: center;
}

.toggle-chat-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap : nowrap;
    height: 92vh;
    width: 100vw;
    /* position: relative; */
    
}
.user-space {
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color : rgb(43, 40, 40);
    transition: 0.5s;
    border-right: 1px solid rgb(77, 75, 75);
    padding: 15px;
}
.user {
    width: 100%;
    height : 15%;
    margin-bottom: 15px;
    background-color: rgb(30, 65, 97);
    transition: 0.2s;
    position : relative;
    overflow: hidden;
    flex : 0 0 auto;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);   
    
}
.main-screen {
    width: 100%;
    height: 100%;
    /* padding-top : 56.25%; */
    background-color: rgb(61, 61, 61);
    
    
}
#main-video {
    width: 100%;
    background-color: rgb(0, 0, 0);

}
.chat-space {
    height: 100%;
    width: 20vw;
    background-color: rgb(46, 46, 46);
    border-left : 1px solid rgb(77, 75, 75);
    transition: 0.5s;
    padding-bottom : 10px;
    position: relative;
}

.me {
    background-color: rgb(190, 10, 94);
}

.username {
    margin : 15px;
    padding: 5px 7px 5px 7px;
    background-color: rgba(20, 19, 19, 0.349);
    border-radius : 4px;
    color: white;
    font-weight: 500;
    transition : 0.5s;
    user-select: none;
    display: inline-block;
    position : absolute;
    left : 0;
    top : 0;
}
.user:hover > .username {
    background-color: rgba(20, 19, 19, 0.678);
}

.shared-screen {
    
    width : 100%;
    height : 100%;
}
.icon {
    position : absolute;
    color: rgba(255, 255, 255, 0.795);
    transition : 0.5s;
    bottom : 0;
    right : 0;
    cursor: pointer;
}

.icon:hover {
    color : white;
}

.icon-container {
    background-color: rgba(20, 19, 19, 0.349);
    border-radius : 4px;
    padding : 2px;
}
.fullscreen-icon {
    margin: 5px 15px 15px 0;
}

.share-screen-icon {
    margin: 5px 55px 15px 0px;
}




.wrap {
    
    width: 100%;
}

.send-btn {
    padding: 5px;
    cursor: pointer;
}
.chat-input {
    display: block;
    border : none;
    width: 100%;
    background-color : hsl(240, 1%, 35%);
    padding : 10px;
    /* outline: none; */
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.chat-input::placeholder {
    color: rgb(196, 196, 196);
   
}
.all-messages {
    height: auto;
    min-height : calc(100% - 40px);
    max-height : calc(100% - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-base-color: teal;
    scrollbar-width: none;
    color: white;
}

.message {
    margin : 15px 0 15px 5px;
    padding-bottom: 10px;
    border-bottom : 1px solid rgba(139, 139, 139, 0.212);
    
}
.message p {
    font-weight: 200;
    line-height: 130%;
}

.user-typing{
    z-index: 200;
    top : -25px;
    position : relative;
    margin: 0 0 10px 20px;
    font-style: italic;
    font-weight: 100;
    font-size : 15px;

}
.user-typing-text {
    display : inline-block;
    margin-right : 5px;
}
.dot-container {
    display: inline-block;
}
.dot-container .dot {
    /* display: inline; */
    background-color: #90949c;
}

.dot {
    animation: dots 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

@keyframes dots{
0%{
  transform:translateY(0px)
}
28%{
  transform:translateY(-5px)
}
44%{
  transform:translateY(0px)
}
}

.dot:nth-child(1){
animation-delay:200ms;
}
.dot:nth-child(2){
animation-delay:300ms;
}
.dot:nth-child(3){
animation-delay:400ms;
}

::-webkit-scrollbar {
    width: 6px;
}
video::-webkit-media-controls-overlay-play-button {
    display: none;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Share Tech', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  * {
      box-sizing : border-box;
      margin: 0;
      padding: 0;
  }

